################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/export
/src/com.cobilas.godot.lua/.vs
/src/com.cobilas.godot.lua/bin
/src/com.cobilas.godot.lua/obj
/test/.mono
/test/.import
/test/.vs
